<br><br>
<br>
<div class="row setup-part-1">
  <div class='large-6 small-12 columns'>
    <h2>Log In with Google Analytics: </h2>
  </div>
  <div class='large-6 small-12 columns'>
    <button class='googleLogin'>Yay Google!</button>
  </div>
</div>

<br><hr/><br>

<div class='hidden row setup-part-2'>
  <div class='large-6 small-12 columns account-selector'>
    <h5>Select your account:</h5>
    <ul class='accounts-list'>
      <li>Account 1</li>
      <li>Account 2</li>
    </ul>
  </div>
  <div class-'large-6 small-12 columns web-property-selector'>
    <h5></h5>
    <ul class='web-properties-list'>
      <li>Web Property 1</li>
      <li>Web Property 2</li>
    </ul>
  </div>
</div>
<!-- 
<div class="row">
  <div class='large-12 columns'>
    <div class="row">
      <div class='large-6 small-12 columns'>
        <h4>Custom Dimension Names: </h4>
      </div>
      <div class='large-6 small-12 columns'>
        <em>These are the names of your custom dimensions in Google Analytics.  They will be matched up with your test names in the HTML file.</em>
      </div>
    </div>
    <br><br>
    <div class='customDimensions'>
      <div class='row'>
        <div class='large-4 small-10 columns'>
          <div class='row dimension'>
            <div class='small-6 columns'>Dimension 1:</div>
            <input class='small-6 columns'/>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='small-11 large-5 columns'>
        <div class='row'>
          <div class='small-6 small-centered columns'>
            <button class='tiny addCustomDimension' onclick="addRow()">Add more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->